:root {
  --clr-gradient-indigo: #818cf8;
  --clr-gradient-pink: #f472b6;
}

.dark {
  --clr-gradient-pink: #f9a8d4;
}

.prose {
  @apply !max-w-screen-md;
}

.prose :where(h1, h2, h3, h4, h5, h6):not(.not-prose *) {
  @apply relative w-max max-w-full scroll-m-20 break-words underline decoration-transparent underline-offset-4 hover:text-[var(--clr-gradient-pink)] hover:decoration-[var(--clr-gradient-pink)];
}

.prose blockquote:not(.not-prose *) {
  border-image: linear-gradient(
      to top,
      var(--clr-gradient-indigo),
      var(--clr-gradient-pink)
    )
    1;
}

.prose .blog-section-hash {
  @apply absolute inset-0;
}

.prose .blog-section-hash::after {
  @apply invisible absolute -right-6 top-[calc(50%+2px)] -translate-y-1/2;
}

.prose .blog-section-hash:hover::after {
  @apply visible;
}
