@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-tooltip/dist/react-tooltip.css";
@import "styles/prism-one-dark.css";
@import "blog.css";

@layer components {
  .layout {
    @apply mx-auto w-[90%] max-w-screen-xl;
  }

  /* icons
  ======= */
  .icon-with-bg-colors {
    @apply bg-indigo-100 dark:bg-zinc-700/90;
  }

  /* cards 
  ======= */
  .card-colors {
    @apply !bg-indigo-100/50 !shadow-indigo-200/50 dark:!bg-zinc-800/50 dark:!shadow-zinc-700/50;
  }
  .detail-aside-colors {
    @apply border-2 border-indigo-200 dark:border-[#30363d];
  }

  /* Normal underline css for text
  ================================= */
  .normal-underline {
    @apply before:absolute before:-bottom-2 before:left-0 before:h-[0.5px] before:w-full;
  }

  /* Gradient underline css for text
  ================================= */
  .gradient-underline {
    @apply before:absolute before:-bottom-2 before:left-0 before:h-[1px] before:w-full before:animate-breathing before:bg-gradient-to-r before:bg-gradient;
  }
  .gradient-underline--primary {
    @apply before:primary-gradient;
  }

  /* navlist underlay for <lg screen size to smoothen open and closing animation 
  ================================================================================== */
  .navlist-underlay {
    @apply before:absolute before:h-full before:w-8 before:-translate-x-8 before:bg-indigo-50 before:dark:bg-zinc-900 lg:before:hidden;
  }

  .fade-bottom {
    @apply after:absolute after:inset-x-0 after:z-40 after:h-20 after:bg-gradient-to-b after:from-transparent after:to-indigo-50 dark:after:to-zinc-900;
  }

  .fade-top {
    @apply before:absolute before:inset-x-0 before:z-40 before:h-20 before:bg-gradient-to-b before:from-indigo-50 before:to-transparent dark:before:from-zinc-900;
  }

  /* gradients
  ============ */
  .primary-gradient {
    @apply from-indigo-400 to-pink-400 dark:to-pink-300;
  }

  .secondary-gradient {
    @apply from-pink-300 to-amber-300;
  }
}

@layer base {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
    /* outline: 1px solid green;  for debugging*/
  }

  a,
  button,
  input,
  textarea {
    @apply outline-none focus:outline-none focus-visible:ring-1 focus-visible:ring-indigo-400;
  }
}
